/* Base Styles --------------- */

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
    padding: 0;
}

/* Globals --------------------- */

.wrapper-general {
    max-width: 1150px;
    height: 5000px;
    margin: auto;

    position: relative;

}

.color-black {
    color: #1c252b;
}

.color-gray {
    color: #3a4d57;
}

.line-height-tiny {
    line-height: 21px;
}

.line-height-small {
    line-height: 25px;
}

.line-height-medium {
    line-height: 27px;
}

.line-height-big {
    line-height: 47px;
}

.line-height-large {
    line-height: 70px;
}

.font-tiny {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.font-small {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.font-regular {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.font-large {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* Navigation ------------------- */

.main-header {
    margin: 0;
    padding: 20px 0;
}

.main-nav {
    padding: 0;
}

.main-header,
.main-nav,
li {
    display: inline-block;
}

li {
    padding-right: 30px;
}

/* Text -------------------------- */

/* Primary */

.text-header-primary {
    margin: 60px 0 25px;
}

.text-message-left-secondary,
.text-message-right-secondary {
    width: 440px;
    background: #fff;
    padding: 33px 43px;
    box-shadow: 0 4px 16px rgba(63, 146, 209, 0.12);
    border-radius: 47px;
    margin: 0 67px;
}

.text-message-wrapper-left {
    float: left;
}

.text-message-wrapper-right {
    float: right;
}


.text-message-right-secondary {
    margin-top: 140px;
}

/* Tertiary */

.wrapper-text-tertiary > .font-regular {
    margin-bottom: 40px;
}

.gap {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

/* Quaternary */

.font-regular + .step-form {
    margin-top: 70px;
}

.step-1 {
    width: 561px;
}

.step-2 {
    width: 464px;
}

.step-3 {
    width: 293px;
}

.step-4 {
    width: 504px;
}

.step-4 + .step-5 {
    background: #3f92d1;
    font-size: 20px;
    color: white;
    width: 564px;
}

.step-5 + .font-small {
    margin-top: 50px;
    line-height: 30px;
    text-align: right;
    margin-right: -50px;
}

.font-regular + .step-1 {
    margin-top: 50px;
}

/* Quinary */

.font-regular + .font-tiny {
    margin-top: 50px;
}

/* Containers -------------------- */

/* Primary */

.wrapper-text-primary {
    width: 45.5%;
}

/* Secondary */

.container-secondary {
    margin-top: 275px;
}

/* Tertiary */

.container-tertiary {
    margin: 235px auto;
}

.wrapper-img-tertiary {
    width: 45.5%;
    float: left;
}

.wrapper-text-tertiary {
    padding-top: 50px;
    width: 52.5%;
    float: right;
}

/* Quaternary */

.wrapper-text-quaternary {
    width: 46.5%;
    float: left;
    margin-left: 46px;
}

.wrapper-img-quaternary {
    width: 46.5%;
    float: right;
}

.step-form {
    padding: 15px 20px;
    background: #fff;
    box-shadow: 0 0 12px rgba(63, 146, 209, 0.29);
    border-radius: 6px;
}

/* Quinary */

.container-quinary {
    margin-top: 370px;
}

.wrapper-img-quinary {
    width: 48.5%;
    float: left;
}

.wrapper-text-quinary {
    width: 46.5%;
    float: right;
}

/* Images ------------------------*/

/* Primary */

.v-up-right-primary {
    right: 0;
}

.lang-change {
    top: -15px;
}

.v-center-primary {
    top: 0;
    right: -90px;
}

.v-phone-primary {
    top: 40px;
    right: 120px;
}

.v-chat-primary {
    right: 0;
    top: 170px;
}

.v-england {
    top: 400px;
    right: 470px;
}

.v-russia {
    top: 310px;
    right: 430px;
}

.try-tg {
    margin-left: 65px;
}

/* Secondary */

.bg-secondary {
    /*width: 100%;*/
    top: 570px;
    left: 0;
    right: 0;
    z-index: -1;
}

.circle-question-secondary {
    top: -30px;
    left: 45px;
}

.circle-screamer-secondary {
    top: 110px;
    left: 45px;
    z-index: 1;
}

.v-paper-plane-secondary {
    top: 100px;
    right: 500px;
    width: 200px;
}

.v-chat-secondary {
    width: 130px;
    top: 45px;
    right: 480px;
}

.v-cloud-secondary {
    top: -15px;
    right: 80px;
}

.v-mug-secondary {
    top: -30px;
    right: -150px;
}

.v-ipad-secondary {
    top: 230px;
    left: 490px;
}

.v-bulb-secondary {
    top: 180px;
    left: -60px;
}

/* Tertiary */

.check-mark {
    vertical-align: middle;
}

/* Quaternary */

.bg-quaternary {
    /*width: 100%;*/
    top: 1770px
}

.phone-quaternary {
    padding-top: 90px;
}

.tag {
    top: -15px;
    left: -18px;
}

.rope-envelope {
    top: 130px;
    right: -330px;
}

.chat-messages {
    top: 510px;
    right: -280px;
}

.arrow {
    bottom: 60px;
    left: 575px;
}

.phone-small-quaternary {
    bottom: 60px;
    left: -180px;
}

.star {
    top: 410px;
    left: -230px;
}

/* Quinary */

.pencil-paper-quinary {
    margin-left: 60px;
}

/* Clear-fix */

.clear-fix {
    content: "";
    display: table;
    clear: both;
}
